asgiref==3.7.2
beautifulsoup4==4.12.2
black==23.7.0
click==8.1.6
colorama==0.4.6
cssbeautifier==1.14.9
Django==4.2.3
django-debug-toolbar==4.1.0
django-extensions==3.2.3
django-livereload-server==0.4
djangorestframework==3.14.0
djlint==1.34.0
EditorConfig==0.12.3
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
jsbeautifier==1.14.9
json5==0.9.14
mypy-extensions==1.0.0
numpy==1.25.1
packaging==23.1
pathspec==0.11.1
Pillow==10.1.0
platformdirs==3.9.1
pytz==2023.3
PyYAML==6.0.1
regex==2023.10.3
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.1
typing_extensions==4.7.1
uritemplate==4.1.1
