{% extends "dashboard/base.html" %}
{% block extra_head %}
  <!-- AlpineJS -->
  <script defer
          src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <title>Curesdev Tokenizer</title>
  <!-- Curesdev tokenizer -->
  <script>
    function drawLines(id, bf, color) {
      var c = document.getElementById(id);
      var ctx = c.getContext("2d");
      ctx.clearRect(0, 0, c.width, c.height);
      ctx.fillStyle = color;
      W = 2000;
      H = 50;
      bf.forEach(function (bit, i) {
        if (bit) {
          ctx.fillRect(W/bf.length*i, 0, W/bf.length, H);
        }
      });
    }
    
    function drawBloomFilters(l, eps) {
      // Array of random booleans of length l
      let bitmask = [];
      for (var i = 0; i < l; i++) {
        bitmask.push(Math.random() < 0.5);
      }
      drawLines("bloomFilter", bitmask, "#78716c");
      
      let flipped = [];
      // Differential privacy
      for (var i = 0; i < l; i++) {
        let flip = Math.random() < (1 / (1 + Math.exp(eps)));
        flipped.push(flip);
        if (flip) {
          bitmask[i] = !bitmask[i];
        }
      }
      drawLines("flippedBits", flipped, "#dc2626");
      drawLines("diffusedBF", bitmask, "#0284c7");
    }

  </script>
  <style>
    h1 {
      margin-bottom: 30px;
    }
    
    canvas {
      border: 1px solid #000;
    }

    .row, .card {
      margin-bottom: 40px;
    }
  </style>
{% endblock extra_head %}
{% block content %}
  {% include "sha256.html" %}
  <script>
  let data = {
    l: 500,
    eps: 2,
    q: 2,

    sanitizeRemoveAccents: true,
    sanitizeRemoveNonLetters: true,
    sanitizeLowercase: true,

    name1: 'Víctor',

    sanitize(s) {
      if (this.sanitizeRemoveAccents) {
        s = s.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
      }
      if (this.sanitizeRemoveNonLetters) {
        s = s.replace(/[^a-zA-Z]/gi, '');
      }
      if (this.sanitizeLowercase) {
        s = s.toLowerCase();
      }
      return s;
    },
    qgrams(s) {
      let q = parseInt(this.q);
      if (s.length <= q) {
        return [s];
      }
      var result = [];
      for (var i = 0; i < s.length - q + 1; i++) {
        result.push(s.slice(i, i + q));
      }
      return result;
    },
    qgrams_html(qgrams) {
      this.bf1();
      return qgrams.map(qgram => `<span class="badge bg-primary" style="margin-right: 10px">${qgram}</span>`).join(' ');
    },
    bloomFilter(chunks) {
      let bf = new Array(this.l).fill(false);
      chunks.forEach(async chunk => {
        for (var i = 0; i < Math.round(Math.log(2)*this.l/chunks.length); i++) {
          bf[parseInt(SHA256(chunk + "#" + i), 16) % this.l] = true;
        }
      });
      let flipped = [];
      for (var i = 0; i < this.l; i++) {
        let flip = Math.random() < (1 / (1 + Math.exp(this.eps)));
        flipped.push(flip);
        if (flip) {
          bf[i] = !bf[i];
        }
      }
      drawLines("bf1", bf, "#78716c");
      drawLines("flippedBits", flipped, "#dc2626");
      drawLines("diffusedBF", bf, "#0284c7");
    },
    
    sanitized1() {
      return this.sanitize(this.name1);
    },
    qgrams1() {
      return this.qgrams_html(this.qgrams(this.sanitized1()));
    },
    bf1() {
      let bf = this.bloomFilter(this.qgrams(this.sanitized1()));
    },

    diffused1: '',
    showDetails1: false,
  };
  </script>
  <div class="container" x-data="data">
    <h1>Curesdev Tokenizer</h1>
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">PII field</div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <label for="name1" class="form-label">
              <b>Name</b>
            </label>
            <input type="name" class="form-control" id="name1" x-model="name1">
          </div>
        </div>
        <div class="collapse" id="details1">
          <div class="row">
            <div class="col-8">
              <p>
                <b>1. Sanitize</b>
              </p>
              <h5>
                <span x-text="sanitized1()" class="badge bg-secondary"></span>
              </h5>
            </div>
            <div class="col">
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="flexCheckDefault"
                       x-model="sanitizeRemoveAccents">
                <label class="form-check-label" for="flexCheckDefault">Remove accents</label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="flexCheckChecked"
                       x-model="sanitizeRemoveNonLetters">
                <label class="form-check-label" for="flexCheckChecked">Remove non-letters</label>
              </div>
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       id="flexCheckChecked"
                       x-model="sanitizeLowercase">
                <label class="form-check-label" for="flexCheckChecked">Lowercase</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p>
                <b>2. q-grams</b>
              </p>
              <h5 x-html="qgrams1()"></h5>
            </div>
            <div class="col">
              <label for="q-range" class="form-label">
                q =
                <span x-text="q"></span>
              </label>
              <input type="range"
                     class="form-range"
                     id="q-range"
                     min="2"
                     max="5"
                     x-model="q">
            </div>
          </div>
          <div class="row">
            <p>
              <b>3. Bloom filter</b>
            </p>
            <div class="col-8">
              <canvas id="bf1" width="2000" height="50" style="width: 100%; height: 50px"></canvas>
            </div>
            <div class="col">
              <label for="l-range" class="form-label">
                length =
                <span x-text="l"></span>
              </label>
              <input type="range"
                     class="form-range"
                     id="l-range"
                     min="10"
                     max="1024"
                     x-model="l">
            </div>
          </div>
          <div class="row">
            <p>
              <b>4. Differential privacy</b>
            </p>
            <div class="col-8">
              <canvas id="flippedBits"
                      width="2000"
                      height="50"
                      style="width: 100%;
                             height: 50px"></canvas>
            </div>
            <div class="col">
              <label for="eps-range" class="form-label">
                &epsilon; =
                <span x-text="eps"></span>
                (p<sub>flip</sub> = <span x-text="parseFloat(100 / (1 + Math.exp(eps))).toFixed(2)"></span>%)
              </label>
              <input type="range"
                     class="form-range"
                     id="eps-range"
                     min="0"
                     max="10"
                     x-model="eps">
            </div>
          </div>
        </div>
        <div class="row">
          <p>
            <b>Token</b>
          </p>
          <div class="col-8">
            <canvas id="diffusedBF"
                    width="2000"
                    height="50"
                    style="width: 100%;
                           height: 50px"></canvas>
          </div>
          <div class="col">
            <a class="btn btn-primary"
               data-bs-toggle="collapse"
               href="#details1"
               role="button"
               aria-expanded="false"
               aria-controls="details1"
               x-text="showDetails1 ? 'Hide details' : 'Show details'"
               @click="showDetails1 = !showDetails1"></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"></script>
{% endblock content %}
