{% extends "dashboard/base.html" %}

{% load static %}


{% block extra_head %}
  <style>
    .container {
      margin-top: 50px;
      max-width: 1200px;
    }
  </style>
{% endblock %}


{% block content %}
<h1>
  Link two datasets
</h1>

<br />
<br />
<br />

<script>

  const DATASETS = {
    {% for organization in organizations %}
      {% for dataset in organization.dataset_set.all %}
        {{ dataset.pk }}: "{{ dataset.name }}",
      {% endfor %}
    {% endfor %}
  };

  let data = {
    organization1: "",
    organization2: "",
    dataset1: "",
    dataset2: "",
    linked: false,
    linking: false,
    hideMatches: false,
    progress: 0,
    endProgress: 0,
    matches: [],
    modalMatch: null,
    merge(event) {
      if (event.ctrlKey) {
        this.hideMatches = true;
      }

      // Update progress bar from 0 to 100 during 10 seconds
      this.progress = 0;
      this.linking = true;

      const N_SECONDS = 4;

      // End progress in 10 seconds
      this.endProgress = new Date().getTime() + 1000*N_SECONDS;

      // Set 100 timeouts to update progress bar
      for (let i = 0; i < 100; i++) {
        setTimeout(() => {
          this.progress += 1;
        }, i * N_SECONDS * 10);
      }

      // Set timeout to end linking
      setTimeout(() => {
        this.linking = false;
        this.linked = true;
      }, 1000*N_SECONDS + 1500);

      // Fetch url
      let url = `/merge-datasets?dataset1=${this.dataset1}&dataset2=${this.dataset2}`;
      fetch(url)
        .then(response => response.json())
        .then(data => {
          // Set random timeouts from now to end of progress adding matches one by one
          this.matches = [];
          for (let i = 0; i < data.length; i++) {
            setTimeout(() => {
              this.matches.push(data[i]);
            }, Math.random() * 1000 * N_SECONDS);
          }
        });
    },
    formatID(id) {
      if (id === undefined || id === null) {
        return '';
      }
      return `<a href='' class='font-monospace'>${id.slice(0, -4)}<b>${id.slice(-4)}</b></a>`;
    },
    similarityLabel(score) {
      score = parseFloat(score)/100;
      if (score < 0.6) {
        return "<span class='badge bg-danger'>Not similar</span>";
      } else if (score < 0.7) {
        return "<span class='badge bg-warning'>Likely similar</span>";
      } else {
        return "<span class='badge bg-success'>Similar</span>";
      }
    },
    downloadCSV() {
      let csvContent = "data:text/csv;charset=utf-8," + "curesdev_id1,curesdev_id2\n" +
        this.matches.map((m, index) => { return m.patient1 + "," + m.patient2; }).join("\n");

      let encodedUri = encodeURI(csvContent);
      var link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", "curesdev_linked_patients.csv");
      document.body.appendChild(link);
      link.click();
    },
  };
</script>

<div x-data="data">

  <div class="row">
    {% for i in "12" %}
      <div class="col-4">
        <h4>Dataset {{ i }}</h4>
        <br>
        <label class="form-label">Organization</label>
        <select x-model="organization{{ i }}" class="form-select" >
          <option value="" disabled>Select an organization</option>
          {% for organization in organizations %}
            <option>{{ organization.name }}</option>
          {% endfor %}
        </select>
        <br>
        <div x-show="organization{{ i }}">
          <label class="form-label">Dataset</label>
          <select x-model="dataset{{ i }}" class="form-select">
            <option value="" disabled>Select a dataset</option>
            {% for organization in organizations %}
              {% for dataset in organization.dataset_set.all %}
                {% if dataset.datasetpatient_set.count >= 3%}
                  <option x-show="organization{{ i }} === '{{ organization.name }}'" value="{{ dataset.pk }}">
                    {{ dataset.name }} ({{ dataset.datasetpatient_set.count }} patients)
                  </option>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="col-2">
      </div>
    {% endfor %}
  </div>


  <!-- Progress bar -->
  <div x-cloak x-show="linking" class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="margin-top: 20px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" :style="{width: progress + '%'}"></div>
  </div>

  <br>

  <!-- Buttons -->
  <div class="row" style="margin: 50px 0" x-show="!linking && !linked">
    <div class="col" >
      <div class="d-grid gap-2">
        <button @click="merge($event)" type="button" class="btn btn-primary btn-lg btn-block" style="padding-top: 25px; padding-bottom: 25px" :disabled="linking || dataset1 === '' || dataset2 === ''">
          Link
        </button>
      </div>
    </div>
  </div>

  <div class="row" x-show="linked && !hideMatches">
    <div class="col" >
      <div class="d-grid gap-2">
        <button @click="downloadCSV()" type="button" class="btn btn-primary btn-lg btn-block" style="padding-top: 25px; padding-bottom: 25px; margin-bottom: 25px">
          Download CSV
        </button>
      </div>
    </div>
  </div>

  <div x-cloak x-show="linking || linked">
    <h2 x-show="!hideMatches">Found <span x-text="matches.length"></span> match<span x-text="matches.length !== 1 ? 'es' : ''"></span></h2>
    
    <h1 x-cloak x-show="hideMatches" class="text-center" style="font-size: 3rem; margin-top: 2rem">
      <span x-text="matches.length"></span>
      matching patients
    </h1>

    <br>

    <!-- Table of matches -->
    <table x-show="!hideMatches" class="table">
      <thead>
        <tr>
          <th>#</th>
          <th x-text="organization1 + ' > ' + DATASETS[dataset1]"></th>
          <th x-text="organization2 + ' > ' + DATASETS[dataset2]"></th>
          <th>Similarity</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="(m, index) in matches">
          <tr>
            <td x-text="index+1"></td>
            <td x-html="formatID(m.patient1)"></td>
            <td x-html="formatID(m.patient2)"></td>
            <td>
              <span class="badge bg-success">Similar</span>
              <img src="{% static 'repository/info-circle-solid.png' %}" width="20px" height="20px" style="margin-left: 10px; margin-right: 10px" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="modalMatch = m" role="button">
            </td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>


  {% comment %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Patients similarity comparison</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <br>
          <p>
            <b>Patient 1</b>: <span x-html="formatID(modalMatch?.patient1)"></span>
          </p>
          <p>
            <b>Patient 2</b>: <span x-html="formatID(modalMatch?.patient2)"></span>
          </p>
          <br>

          <h2>Fields breakdown</h2>
          <table class="table">
            <thead>
              <th>Field</th>
              <th>Similarity</th>
            </thead>
            <tbody>
            <template x-for="f in modalMatch.fields_similarity">
              <tr>
                <td x-text="f.field"></td>
                <td x-html="similarityLabel(f.similarity)"></td>
              </tr>
              <tr>
                <td>Last name</td>
                <td>100%</td>
              </tr>
            </template>
          </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}


</div>


{% endblock %}

