{% extends "dashboard/base.html" %}

{% block content %}
<h1 class="mb-4">
  Change password
</h1>

<div class="card">
  <div class="card-body mt-4">
    <form method="post" action="">
      {% csrf_token %}

      <div class="mb-4 row">
        <label class="col-form-label col-sm-3 text-sm-end">Old password</label>
        <div class="col-sm-5">
          <input class="form-control form-control-lg {% if form.old_password.errors %}is-invalid{% endif %}"
            type="password"
            name="old_password"
            placeholder="Old password"
            required>
            <div class="invalid-feedback">
              {% for error in form.old_password.errors %}
                {{ error }}
              {% endfor %}
            </div>
        </div>
      </div>

      <div class="mb-4 row">
        <label class="col-form-label col-sm-3 text-sm-end">New password</label>
        <div class="col-sm-5">
          <input class="form-control form-control-lg {% if form.new_password1.errors %}is-invalid{% endif %}"
            type="password"
            name="new_password1"
            placeholder="New password"
            required>
            <div class="invalid-feedback">
              {% for error in form.new_password1.errors %}
                {{ error }}
              {% endfor %}
            </div>
        </div>
      </div>

      <div class="mb-4 row">
        <label class="col-form-label col-sm-3 text-sm-end">Repeat new password</label>
        <div class="col-sm-5">
          <input class="form-control form-control-lg {% if form.new_password2.errors %}is-invalid{% endif %}"
            type="password"
            name="new_password2"
            placeholder="Repeat new password"
            required>
            <div class="invalid-feedback">
              {% for error in form.new_password2.errors %}
                {{ error }}
              {% endfor %}
            </div>
            <p class="mt-2">
              Your password must contain at least 8 characters and can't be entirely numeric.
            </p>
          </div>
      </div>

      <div class="mb-4 row">
        <label class="col-form-label col-sm-3 text-sm-end"></label>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary btn-lg">
                Change password
            </button>
        </div>
    </div>

    </form>
  </div>
</div>
{% endblock %}