{% extends "base.html" %}

{% block content %}
  <h1>
  Demos
  </h1>

  <br>
  <h2>Upload CSV file</h2>

  <p>
    Tokenize and upload a CSV file with PII to a dataset.
  </p>
  <ul>
      <li>
          <a href="{% url 'upload_csv' 1 %}">Upload a CSV file to dataset 1</a>
      </li>
      <li>
          <a href="{% url 'upload_csv' 2 %}">Upload a CSV file to dataset 2</a>
      </li>
  </ul>

  <br>
  <h2>Link two datasets</h2>
  <p>
    Visualization on how the tokenizer algorithm works.
  <p>
  <a href="{% url 'linker-demo' %}">Link two datasets demo</a>

  <br>
  <br>
  <h2>Tokenizer</h2>
  <p>
    Visualization on how the tokenizer algorithm works.
  <p>
  <a href="{% url 'bloom-filter-demo' %}">Tokenizer demo</a>

  <br>
  <br>
  <br>



{% endblock %}
