{% extends "base.html" %}

{% block content %}
  <h1>
    <!--i class="fa fa-university" aria-hidden="true"></i-->
    {{ organization.name }}
  </h1>

  <br>
  <br>
  <br>

  <h2>
    <i class="fa fa-database" aria-hidden="true"></i>
    Datasets

    <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa fa-plus" aria-hidden="true"></i>
      Add dataset
    </button>
  </h2>
  
  <br>
  
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Creator</th>
        <th># patients</th>
      </tr>
    </thead>
    <tbody>
      {% for dataset in organization.dataset_set.all %}
        <tr>
          <td>
            <a href="{% url 'dataset' dataset.id %}">
              {{ dataset.name }}
            </a>
          </td>
          <td>{{ dataset.description }}</td>
          <td>{{ dataset.created_by.username }}</td>
          <td>{{ dataset.datasetpatient_set.count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <br>
  <br>
  <br>

  <h2>
    <i class="fa fa-user" aria-hidden="true"></i>
    Users
  </h2>
  <br>

  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in organization.users.all %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<!-- Add dataset modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add dataset</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Name</label>
          <input type="name" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Description</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Add dataset</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
