{% extends "base.html" %}
{% load static humanize %}

{% block extra_head %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Epilogue:wght@400;500&family=Inter:wght@500&family=Open+Sans:wght@600&family=Poppins:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Epilogue', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        background: #F4F7FE;
    }
    .title {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 1rem;
    }
    .subtitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        color: #2B3674;
        font-size: 20px;
    }
    .subsubtitle {
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        color: #5D6473;
        margin-bottom: 0;
    }
    .legend {
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #464E5F;
        display: inline-block;
        white-space: nowrap;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .small {
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #5D6473;
        margin-bottom: 0;
    }
    .small-light {
        font-family: 'Epilogue', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        color: #5D6473;
        margin-bottom: 0;
    }
    .links {
        font-family: 'DM Sans', sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 0;
    }
    .links.blue {
        color: #2B3674;
    }
    .number-primary {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        color: #2B3674;
        font-size: 24px;
    }
    .number-secondary {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        color: #2B3674;
        font-size: 20px;
    }
    .alert {
        border-radius: 16px;
        background: #F4E8E8;
        margin-bottom: 1.2rem;
    }
    .orange {
        color: #CD4610;
    }
    .search-box {
        padding: 8px 10px;
        border-radius: 16px;
        border: 1px solid #DBDBDB;
        background: #fff;
    }
    .search-box .btn {
        background: #fff;
    }
    .search-box input.form-control {
        font-size: 18px;
        line-height: 18.45px;
        padding: 3px;
        background: #fff;
    }
    .btn {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-radius: 0;
        padding: 8px 15px;
    }
    .btn-primary {
        background: #CD4610;
        border: 1px solid #CD4610;
    }
    .btn-primary:hover, .btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
        background: #b53e0e;
        border: 1px solid #b53e0e;
    }
    .btn-outline-primary {
        border: 1px solid #CD4610;
        color: #000;
    }
    .btn-outline-primary:hover {
        background: #CD4610;
        border: 1px solid #CD4610;
    }
    .btn-outline-primary .fa-bell {
        color: #CD4610;
        transition-property: color;
        transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    }
    .btn-outline-primary:hover .fa-bell {
        color: #fff;
        transition-property: color;
        transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
    }
    .badge {
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        padding: 6px 14px;
        border-radius: 12px;
        font-size: 12px;
    }
    .badge-high-light {
        background: #D0F5D5;
        color: #42BD53;
    }
    .badge-medium-light {
        background: #FFE4CC;
        color: #A66932;
    }
    .badge-low-light {
        background: #FFCCCC;
        color: #CD4610;
    }
    .modal {
        --bs-modal-width: 1000px;
    }
</style>

{% endblock extra_head %}

{% block body %}

<div class="container">

    <nav class="navbar navbar-expand navbar-light navbar-bg">
        <span class="sidebar-brand-text align-middle">
            <img class="p-2" width="50" height="50" src="{% static 'img/palind_logo.png' %}" alt="PALIND Logo">
            <img class="p-2" height="30" src="{% static 'palind_name.svg' %}" alt="PALIND">
        </span>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav navbar-align">
                <li class="nav-item">
                    <a href="#" class="btn btn-light">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 5px">
                    <a href="#" class="btn btn-light">
                        Marketplace
                    </a>
                </li>
                <li class="nav-item" style="margin-left: 8px">
                    <a href="#" class="btn btn-primary">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="content">
        <div class="container-fluid p-0">

            <div class="row mb-2 mb-xl-3">
                <div class="col-auto d-none d-sm-block">
                    <h1 class="title">Prevalence Dashboard</h1>
                </div>

                <div class="col-auto ms-auto text-end mt-n1">
                    <a href="#" class="btn btn-outline-primary">
                        <i class="fa-regular fa-bell fa-xl"></i>
                        &nbsp;
                        Notify
                    </a>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-12">
                    <div class="alert py-3 px-4" role="alert">
                        <img width="53" height="53" src="{% static 'exclamation.png' %}" alt="Warning" style="margin-right: 12px">
                        The dashboard is being actively built with new data sources added daily. The data presented here might not be fully accurate or peer reviewed. Contact us before using this data for decision making or marketing purposes.
                    </div>
                </div>
            </div>

            <div class="row mb-4" style="align-items: stretch">
                <div class="col-12 col-md-3 d-flex" style="flex-direction: column">
                    <div class="card" style="flex-grow: 1">
                        <div class="card-body d-flex" style="align-items: center">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'disease.png' %}" width="32" height="30" class="rounded-circle me-2">
                                <div class="flex-grow-1" style="margin-left: 20px">
                                    <h5 class="subsubtitle">Diseases</h5>
                                    <h1 class="mt-0 number-primary">
                                        {{ global_stats.n_diseases|intcomma }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="flex-grow: 1">
                        <div class="card-body d-flex" style="align-items: center">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'users.png' %}" width="24" height="24" class="rounded-circle me-2">
                                <div class="flex-grow-1" style="margin-left: 20px">
                                    <h5 class="subsubtitle">Total patients</h5>
                                    <h1 class="mt-0 mb-0 number-primary">
                                        {{ global_stats.n_patients|intcomma }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="flex-grow: 1">
                        <div class="card-body d-flex" style="align-items: center">
                            <div class="d-flex align-items-center">
                                <img src="{% static 'users.png' %}" width="24" height="24" class="rounded-circle me-2">
                                <div class="flex-grow-1" style="margin-left: 20px">
                                    <h5 class="subsubtitle">Contributors</h5>
                                    <h1 class="mt-0 mb-0 number-primary">
                                        {{ global_stats.n_contributors|intcomma }}
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 d-flex" style="flex-direction: column">
                    <div class="card" style="flex-grow: 1">
                        <div class="card-body">
                            <h3 class="subtitle">
                                Patients by Disease
                            </h3>
                            <canvas id="barPlot" style="padding-right: 1rem; height: 100%"></canvas>
                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                            <script>
                                var ctx = document.getElementById('barPlot').getContext('2d');
                                var gradient = ctx.createLinearGradient(500, 0, 1500, 0);
                                gradient.addColorStop(0, '#EBA082');
                                gradient.addColorStop(1, '#CD4610');
                                Chart.defaults.color = "#464E5F";
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: [{% for d in patients_by_disease %}'{{ d.disease.name }}',{% endfor %}],
                                        datasets: [{
                                            label: '# of Patients',
                                            data: [{% for d in patients_by_disease %}{{ d.n_patients }},{% endfor %}],
                                            backgroundColor: gradient,
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        indexAxis: 'y',
                                        barThickness: 14,
                                        borderRadius: 7,
                                        scales: {
                                            y: {
                                                ticks: {
                                                    font: {
                                                        size: 14,
                                                        family: "'Epilogue', sans-serif",
                                                        weight: 500,
                                                    }
                                                },
                                                grid: {
                                                    display: false
                                                },
                                            },
                                            x: {
                                                border: {
                                                    display: false
                                                },
                                            }
                                        },
                                        plugins: {
                                            legend: {
                                                display: false,
                                                position: 'bottom',
                                            },
                                            title: {
                                                display: false,
                                                text: 'Data Source Distribution'
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 d-flex" style="flex-direction: column">
                    <div class="card" style="flex-grow: 1">
                        <div class="card-body">
                            <h3 class="subtitle">
                                Patients by Source
                            </h3>
                            <canvas id="myChart" class="p-2"></canvas>
                            <script>
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: [{% for source in patients_by_source %}'{{ source.name }}',{% endfor %}],
                                        datasets: [{
                                            label: 'Patients',
                                            data: [{% for source in patients_by_source %}{{ source.n_patients }},{% endfor %}],
                                            backgroundColor: [
                                                '#cd4610',
                                                '#eba082',
                                                '#d5d9de',
                                            ],
                                            borderColor: [
                                                '#cd4610',
                                                '#eba082',
                                                '#d5d9de',
                                            ],
                                            borderWidth: 1,
                                            radius: '80%',
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        plugins: {
                                            legend: {
                                                display: false,
                                                position: 'bottom',
                                                labels: {
                                                    boxWidth: 12,
                                                    color: '#464E5F',
                                                    padding: 20,
                                                    font: {
                                                        size: 12,
                                                        family: "'Epilogue', sans-serif",
                                                        weight: 500,
                                                    },
                                                },
                                            },
                                            title: {
                                                display: false,
                                                text: 'Data Source Distribution'
                                            }
                                        }
                                    }
                                });
                            </script>
                            {% for source in patients_by_source %}
                                <span class="legend">
                                    <i class="fa-solid fa-square fa-lg" style="color: {{ source.source.color }}"></i>
                                    {{ source.source.name }}
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div class="input-group input-group-navbar search-box">
                        <button class="btn" type="button">
                            <i class="fa-solid fa-magnifying-glass fa-xl orange"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Search by disease or gene name…" aria-label="Search" size="50">
                    </div>
                </div>
            </div>

            {# Modals #}
            {% for disease in diseases %}
                <div class="modal fade" id="modal-disease-{{ disease.pk }}" tabindex="-1" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header m-3 mt-2">
                                <h1>{{ disease.disease.name }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body m-3">
                                <div class="row">
                                    <div class="col-8">
                                        <p class="mb-4">
                                            {{ disease.disease.description }}
                                        </p>
                                        {% comment %}
                                        <h3>Contributors</h3>
                                        <h3>Other sources</h3>
                                        {% endcomment %}
                                        <p>
                                            <strong>Last refreshed</strong>:
                                            {{ global_stats.created_at|date:"F j, Y" }}
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <div class="card">
                                            <div class="card-body" style="cursor: pointer">
                                                <div class="row">
                                                    <h5 class="subsubtitle">
                                                        {{ disease.disease.name }}
                                                    </h5>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col mt-0">
                                                        <h1 class="mt-1 mb-0 number-primary">
                                                            {% if disease.n_patients < 25 %}
                                                                &lt;25
                                                            {% else %}
                                                                {{ disease.n_patients|intcomma }}
                                                            {% endif %}
                                                        </h1>
                                                        <span class="small-light">Patients</span>
                                                    </div>

                                                    <div class="col-auto">
                                                        <img src="{% static 'users_gray.png' %}" width="24" height="24" class="rounded-circle me-2">
                                                    </div>
                                                </div>

                                                <div class="row mb-3">
                                                    <div class="col-6 mt-0">
                                                        <p class="mb-1 small">
                                                            Contributors
                                                        </p>
                                                        <h3 class="number-secondary">
                                                            {{ disease.n_contributors|intcomma }}
                                                        </h3>
                                                    </div>

                                                    <div class="col-6">
                                                        <p class="mb-2 small">
                                                            Confidence
                                                        </p>
                                                        <span class="badge badge-{{ disease.confidence }}-light">
                                                            {{ disease.confidence|capfirst }}
                                                        </span>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-12">
                                                        <p class="mb-0 small">
                                                            Other sources
                                                        </p>
                                                        <p class="links">
                                                            {% for source in disease.disease.urlsource_set.all %}
                                                                <a href="{{ source.url }}">{{ source.name }}</a>{% if not forloop.last %}, {% endif %}
                                                            {% endfor %}
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                {% for disease in diseases %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-body" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#modal-disease-{{ disease.pk }}">
                            <div class="row">
                                <h5 class="subsubtitle">
                                    {{ disease.disease.name }}
                                </h5>
                            </div>

                            <div class="row mb-3">
                                <div class="col mt-0">
                                    <h1 class="mt-1 mb-0 number-primary">
                                        {% if disease.n_patients < 25 %}
                                            &lt;25
                                        {% else %}
                                            {{ disease.n_patients|intcomma }}
                                        {% endif %}
                                    </h1>
                                    <span class="small-light">Patients</span>
                                </div>

                                <div class="col-auto">
                                    <img src="{% static 'users_gray.png' %}" width="24" height="24" class="rounded-circle me-2">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-6 mt-0">
                                    <p class="mb-1 small">
                                        Contributors
                                    </p>
                                    <h3 class="number-secondary">
                                        {{ disease.n_contributors|intcomma }}
                                    </h3>
                                </div>

                                <div class="col-6">
                                    <p class="mb-2 small">
                                        Confidence
                                    </p>
                                    <span class="badge badge-{{ disease.confidence }}-light">
                                        {{ disease.confidence|capfirst }}
                                    </span>
                                </div>
                            </div>
                            {% if disease.disease.urlsource_set.all %}
                                <div class="row">
                                    <div class="col-12">
                                        <p class="mb-0 small">
                                            Other sources
                                        </p>
                                        <p class="links">
                                            {% for source in disease.disease.urlsource_set.all %}
                                                <a href="{{ source.url }}">{{ source.name }}</a>{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>

<script src="https://demo.adminkit.io/js/app.js"></script>

{% endblock body %}
